@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}
.nav-container{
    width: 100vw;
    height: 5rem;
    border-bottom: 2px solid rgb(144, 142, 142);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 3.1rem;
    margin-right: 5.5rem;
}
.nav-items a{
    color: rgba(32, 31, 31, 0.94);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
.nav-items a:hover{
    color: #018673;
    transition: all 0.3s;
}
.nav-items button{
    color: white;
    background-color: #018673;
    padding: 0.7rem 0.9rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    border: 2px solid #018673;
}
.nav-items button:hover{
    background-color: white;
    color: #018673;
    cursor: pointer;
    transition: all 0.5s;
}
.logo{
    margin-left: 4rem;
    font-size: 2rem;
}
.content{
    width: 100vw;
    height: calc(100vh - 5rem);
    display: flex;
    overflow: hidden;
}
.left-content{
    width: 50vw;
    height: 100%;
    padding: 4rem 6rem;
}
.left-content h1{
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.905);
}
.left-content span{
    color: #018673;
}
.left-content p{
    font-size: 1rem;
    color: rgb(82, 80, 80);
    font-weight: 500;
    margin: 1rem 0rem;
}
.left-content button{
    color: white;
    background-color: #018673;
    font-size: 1rem;
    padding: 1rem 2.2rem;
    margin-top: 1.6rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    border: 2px solid #018673;
    
}
.left-content button:hover{
    background-color: white;
    color: #018673;
    cursor: pointer;
    transition: all 0.5s;
}

.right-content{
    width: 50vw;
    height: 100vh;
}
.right-content img{
   height: 100%;
   width: 100%;
   
}
